[submodule "css-exercises"]
	path = css-exercises
	url = https://github.com/cgradu/css-exercises.git
[submodule "html-exercises"]
	path = html-exercises
	url = https://github.com/cgradu/html-exercises.git
[submodule "landing_page"]
	path = landing_page
	url = https://github.com/cgradu/landing-page.git
