[submodule "css-exercises"]
	path = css-exercises
	url = https://github.com/cgradu/css-exercises.git
[submodule "html-exercises"]
	path = html-exercises
	url = https://github.com/cgradu/html-exercises.git
[submodule "landing_page"]
	path = landing_page
	url = https://github.com/cgradu/landing-page.git
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = https://github.com/cgradu/javascript-exercises.git
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/cgradu/etch-a-sketch.git
